.slick-arrow, .slick-arrow:focus, .slick-arrow:active{
    z-index: 1;
    background: linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%);
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 50px;
    transition: .3s;
}

.slick-arrow:hover{
    background: linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%);
    opacity: .8;
}

.slick-prev:before, .slick-next:before{
    content: '';
    transition: .3s;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url('../../Assets/Icons/arrow_white.svg');
    background-position: 30%;
    background-repeat: no-repeat;
    background-size: contain;
}

.slick-next:before{
    transform: rotate(180deg);
}

.slick-next {
    right: 100px;
}

.slick-prev {
    left: 100px;
}

.slick-dots{
    bottom: 15px;
}

@media screen and (max-width: 768px) {
    .slick-next {
        right: 10px;
    }
    
    .slick-prev {
        left: 10px;
    }
}