main#admin{
    display: flex;
}

.conteudo_admin{
    width: 65%;
    margin-left: auto;
}

.conteudo_admin .like, .conteudo_admin .save{
    display: none;
}

.conteudo_admin .bg_gray{
    padding: 0;
    background-color: #fff
}

.conteudo_admin .bg_gray h1{
    display: none;
}

.conteudo_admin .card{
    width: 32%;
    margin-bottom: 2em;
}

.conteudo_admin .card.artigo img{
    height: 170px;
}

.conteudo_admin button::after{
    display: none;
    margin: 0;
    height: fit-content;
}

.conteudo_admin button{
    margin: auto 0;
}

.ql-editor p, .css-1h9z7r5-MuiButtonBase-root-MuiTab-root, .MuiStepLabel-label{
    font-family: 'Nunito' !important;
}

.conteudo_admin #modal input, .conteudo_admin #modal select{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}

#conteudo{
    margin-top: .3em;
}

label{
    font-size: small;
}

.modal_footer{
    display: flex;
    justify-content: end;
    gap: 1.5em;
    margin-top: 2em;
}

.Mui-selected{
    font-weight: 700 !important;
    color: #1B63A2 !important;
}

.MuiTabs-indicator {
    background: #1B63A2 !important;
}

table {
    border-collapse: collapse;
    margin-top: 2em;
  }

table .user{
    width: 20%;
    padding-left: 5px;
}

tbody tr{
    border-top: solid 1px #ccc;
}

thead tr{
    background: linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%);
    color: #fff;
}

th{
    /* padding: 10px 0; */
}

td{
    /* padding: 5px 0; */
}

table .coment{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.table_icon{
    width: 7%;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.aprovar{
    color: #0B8C3D;
}

.deletar{
    color: #d0352a
}

.conteudo_admin .card.ipo{
    width: 23.5%;
}

#admin #modal .row{
    justify-content: initial;
    gap: 1.5em;
}

#admin #modal .row div{
    width: 50%;
}

#admin #modal .row .wrap_input{
    width: 100%;
}

.MuiStepper-root{
    margin-bottom: 1.5em;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active, .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
    color: rgba(0, 91, 170, 0.984375) !important;
}