p{ line-height: 160%; }

.bg_gray{
    background: #F2F2F2;
}

.bg_gray p{
    font-size: 22px;
}

.bg_gray .container{
    margin: auto;
}

.bg_gray h1{
    margin-top: 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 768px) {
    #section1 { 
        flex-direction: column; 
        justify-content: center;
    }

    .column, .line_after{
        width: 100%;
    }

    .width_80{ width: 100%; }

    #section2{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 768px) {

    .bg_gray .width_80{ width: 80%; }

    .container .btn{ padding: 1.5rem auto; }

    .container{ padding: 2rem 1rem; }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .bg_gray .width_80{ width: fit-content; }

    .bg_gray .container{
        padding: 3rem 1rem; 
        text-align: center; 
    }
}