#perfil .formulario img{
    margin: auto;
    display: flex;
    margin-top: -30px;
    margin-bottom: 50px;
}

#perfil form{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}

#perfil .contentInput{
    width: 45%;
}

.contentInput input{
    width: 100%;
}

#perfil .btn_primary{
    margin-top: 20px;
}

#perfil input{
    border-style: none !important;
    box-sizing: border-box;
    padding: 10px 0 !important;
}

#perfil label{
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    #perfil .contentInput{
        width: 100%;
    }
}