.card img{
    width: 100%;
    border-radius: 7px 7px 0 0;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    transition: .3s;
}

.card{
    box-shadow: 0px 1px 2px rgba(22, 40, 62, 0.35);
    border: solid 1px #e5e5e5;
    border-radius: 7px;
    width: 30%;
    background: #fff;
    overflow: hidden;
}

.card a{
    overflow: hidden;
}

.card_content{ padding: 20px; }

.c_title, .card small{
    margin-top: 0;
}

.artigo .c_title, .artigo small, #artigo .banner h2{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* numero de linhas a serem mostradas */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   min-height: 2.4em;
}

.card small{
    -webkit-line-clamp: 3; /* numero de linhas a serem mostradas */
           line-clamp: 3; 
}

.img_card{
    width: 100%;
    height: 30%;
}

.card .btn{
    /* margin: auto; */
    margin-top: 25px;
}

.ipo{
    text-align: center;
    width: 22%;
}

.ipo .logo{
    width: 50px;
    height: 50px;
    min-height: 50px;
    object-fit: contain;
    border-radius: 0;
}

.ipo .wrap_img{
    display: inline-block;
    padding: 15px 20px;
    border-radius: 7px;
}

.ipo .btn{
    margin: auto;
}

.ipo .c_title{
    font-size: 22px;
    color: #444444;
    margin: 15px 0;
    margin-bottom: 5px;
}

.ativa{ color: #23B000; }
.finalizada{ color: #E11900 }

.ipo small{
    font-weight: bold;
}

.valor{
    font-size: 30px;
    margin: 5px 0;
    font-weight: bolder;
    line-height: 30px;
}

.valor span{
    font-size: 15px;
    display: inline-block;
    margin-right: 5px;
}

.atualizacao{
    display: flex;
    margin: 10px auto;
    margin-bottom: 20px;
    border: solid 1px #000;
    border-radius: 2px;
    padding: 2px 5px;
    font-size: smaller;
    width: fit-content;
    align-items: center;
}

.atualizacao img{
    width: 13px;
    object-position: center;
    height: 13px;
    margin-right: 3px;
}

.caiu{
    color: #A43202;
    border-color: #A43202;
    background: rgba(189, 56, 0, 0.09);;
}

.card img:hover{
    transform: scale(1.1);
}

.wrapper_img{
    display: block;
    position: relative;
}

.icon_opt{
    position: absolute;
    font-size: 1.5em;
    padding: .3em;
    top: 1em;
    right: 1em;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    pointer-events: all;
}

.delete{
    top: 3em;
    background: #d0352ab8;
}

.like, .save{
    color: rgba(0, 91, 170, 0.984375);
    font-size: 2em;
    padding: 0;
}

.save{
    color: rgba(0, 91, 170, 0.984375);
}

.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card_footer .save{
    position: inherit;

}

.edit{
    background: #ffc107b9;
}

.ipo .card_content{
    position: relative;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 992px) {
    .card{ 
        width: 47%;
        margin-bottom: 2rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .card{ width: 100%;}

    .card.ipo{
        width: 49%;
    }

    .ipo .card_content{
        /* padding: 10px; */
    }

    .ipo .logo{   
        width: 30px;
        height: 30px;
        min-height: 30px;
    }

    .ipo .wrap_img{
        padding: 5px 10px;
    }

    .ipo .btn {
        font-size: .8em;
        gap: 5px;
    }

    .ipo .c_title{
        font-size: 17px;
    }
}