.banner{ 
    height: 70vh; 
    position: relative;
    min-height: 500px;
}

#img_banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mask_banner{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(270.11deg, rgba(255, 255, 255, 0.75) 23.83%, rgba(255, 255, 255, 0.75) 37.07%, rgba(255, 255, 255, 0.75) 42.11%, rgba(255, 255, 255, 0.7) 50.15%, rgba(255, 255, 255, 0) 60.06%);
    top: 0;
}

.wrap_title{
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 2;
    cursor: pointer;
}

.wrap_title span{
    display: inline-block;
    background: #023e889e;
    color: #fff;
    padding: 0 10px;
    margin-bottom: 5px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 45px;
}

.wave{
    /* width: 100%;
    height: 100%; */
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 992px) {
    #img_banner{ object-fit: cover; }

    main { padding-top: 220px; }

    .wrap_title span{
        font-size: 35px;
    }

    .wrap_title{
        left: 40%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 768px) {
    .wrap_title{ left: 25%; }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .wrap_title{ left: 15%; }

    .wrap_title span{ font-size: 35px; }

    .wrap_title span {
        font-size: 25px;
    }

    #blog .wrap_title{
        left: 20%;
        top: 20%;
    }

    main { padding-top: 190px; }
}