.topo_empresas *{
    margin: 0;
    padding: 0;
}
.topo_empresas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topo_empresas div{
    width: 20%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 10px;
}

.bloco_empresa{
    background-color: #0459A2;
}
.bloco_empresa > small, .bloco_empresa > p{
    color: white;
}
.topo_empresas div > small{
    text-transform: uppercase;
    font-size: 0.8em;
}
.topo_empresas div > p{
    font-weight: 700;
    font-size: 1.2em;
}

.blocoAtiva_empresa p {
    color: #0B8C3D;
    text-transform: uppercase;
}
.terceiro_topo div p {
    font-size: 2em;
    font-weight: 700;
}
.apresentacao_empresa{
    padding-top: 0px;
    display: flex;
    gap: 5%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}
.imagem_empresa{
    width: 30%;
}
.imagem_empresa img{
    width: 100%;
    border-radius: 20px;
    /* aspect-ratio: 2 /1; */
    object-fit: cover;
    box-shadow: 3px 4px 10px 0px rgba(166,166,166,1);
}
.informacoes_empresa{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 15%;
    /* margin: auto 0; */
}

.informacoes_empresa .btn{
    margin-top: 20px;
}

.direcionamentos{
    width: 30%;
    /* margin: auto 0 */
}

.direcionamentos .btn_primary{
    padding: 0;
    font-weight: 900;
    margin-top: 10px;
    background: transparent !important;
    background: -webkit-linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.apresentacao_empresa .wrap_img {
    display: flex;
    padding: 15px 20px;
    border-radius: 7px;
    justify-content: center;
    margin: auto 0;
    width: 15%;
    aspect-ratio: 1;
    align-items: center;
}

.apresentacao_empresa .wrap_img img{
    width: 50%;
    height: auto !important;
    object-fit: contain;
}

.direcionamentos svg{
    color: #042B4D;
    font-size: 1.5em;
}

.informacoes_empresa h2, .direcionamentos h2, .comparar h2{
    /* text-transform: uppercase; */
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    font-size: 1.6em;
    /* background: -webkit-linear-gradient(90deg, #AD7449 -9.09%, #D18B57 109.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.comparar{
    width: 20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.comparar img{
    width: 35%;
    margin: auto;
}

.comparar h2{
    text-align: center;
}

.comparar .btn{
    margin: auto;
    margin-top: 20px;
}

.informacoes_empresa small{
    font-size: 1em;
}

.governanca > article{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.governanca > article > div{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.governanca > article > div > img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100% !important;
    box-sizing: border-box;
    border: solid 5px #0e3d65;
}
.governanca > article > div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.governanca > article > div p{
    font-size: 1.7em;
    line-height: normal;
    text-align: center;
    margin-bottom: 10px;

}
.governanca > article > div small{
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.gray_wallpaper{
    background-color: #EEEEEE;
}

.gray_wallpaper p{
    text-align: justify;
}
.indicadores_tabela *{
    margin: 0;
    padding: 0;
}
.indicadores_tabela{
    width: 100%;
}
.indicadores_tabela > p{
    text-transform: uppercase;
    color: #AD7449;
    font-size: 1.2em;
    font-weight: 600;
}
.linha_indicadores{
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}
.bloco_indicadores{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    min-width: 150px;
    padding: 20px 10px;
}
.linhaBaixo_indicadores{
    display: flex;
    justify-content: space-between;
}
.linha_indicadores hr{
    width: 2px;
    border: 0px;
    border-top: 2px solid #8d8d8d;
    background-color: #8d8d8d;
    margin: 0px 10px;
    height: 60px;
}

#empresa table {
    border-collapse: collapse;
    width: 100%;
    color: #444;
    max-width: 100%;
}

#empresa tbody tr:not(:last-of-type){
    border-bottom: solid 1px #B9B9B9 ;
}

tr:nth-child(even){
    background-color: rgb(211, 211, 211);
}

th{
    text-align: left;
    color: #fff;
}

thead{
    background: linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%);
}

th, td{
    padding: 10px 25px;
}

td:not(:first-of-type), th:not(:first-of-type){
    text-align: center;
}

.section_table h1, h3{
    width: 100%;
}

.section_table .row{
    align-items: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.section_table .row div{
    width: 25%;
}

td span{
    font-weight: 900;
    display: inline-block;
    margin-right: 7px;
    width: 1.3em;
    height: 1.3em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

td:first-of-type{
    font-weight: 700;
}

.neutro{ color: #D18B57; }

/* .caiu{ background-image: url('../img/icons/caiu.svg') } */

/* .subiu{ background-image: url('../img/icons/subiu.svg') } */

#balanco h1{
    margin-bottom: 0;
}

.section_table h3{
    margin-bottom: 1.5em;
}

.section_table:not(:last-of-type){
    padding-bottom: 0;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.charts_section{
    gap: 5em;
}

.wrap_data{
    border: solid 1px rgb(172, 171, 171);
    padding: 1.5em;
    border-radius: 10px;
}

.wrap_data h2{
    margin-top: 0;
    margin-bottom: .5em;
}

.wrap_filter select{
    font-size: .7em;
    padding: 3px 5px;
    width: fit-content;
    margin-left: 1em;
}

.wrap_filter label{
    font-size: .7em;
    font-weight: 700;
    color: rgb(58, 58, 58);
    display: inline;
}

.indicadores, .indicadores .charts_section {
    width: 70%;
    margin: auto;
}

.charts_section .wrap_data{
    width: 100%;
    box-sizing: border-box;
}

#destino h1, #sobre h1{
    margin-top: 0;
}

input[name="forma_pgt"]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.wrap_options{
    display: flex;
    gap: 1.5em;
}

.wrap_options label{
    width: 25%;
}

.wrap_img.option {
    border: solid 1px #a3a3a3;
    margin: 0;
    border-radius: 7px;
    text-align: center;
    flex-direction: column;
    width: auto;
}

.wrap_img.option h3{
    margin-bottom: 0;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option .logo{
    width: 60%;
    height: 60%;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

[name=forma_pgt] + div {
    cursor: pointer;
}

[name=forma_pgt]:checked + div {
    outline: 1px solid hsla(208, 100%, 33%, 0.984);
    border-color: hsla(208, 100%, 33%, 0.984);
}

@media screen and (max-width: 991px) {
    .topo_empresas div{
        width: 40%;
        margin-bottom: 1.5em;
    }

    .apresentacao_empresa{
        gap: 1em;
    }

    .direcionamentos, .comparar{
        width: 100%;
        margin-top: 3em;
    }

    .apresentacao_empresa .informacoes_empresa{
        width: 60%;
        gap: 0;
    }

    .apresentacao_empresa .informacoes_empresa .btn{
        margin-top: 1em;
    }
}

@media screen and (max-width: 768px){

    .governanca > article{
        flex-wrap: wrap;
        gap: 2em;
    }

    .governanca > article > div{
        width: 45%;
    }

    .indicadores, .indicadores .charts_section{
        width: 100%;
        box-sizing: border-box;
    }

    .charts_section{
        flex-wrap: wrap;
    }

    th, td {
        padding: 10px;
    }

    .wrap_table {
        overflow: scroll;
    }

    .wrap_options{
        flex-wrap: wrap;
        gap: .5em;
    }

    .wrap_options label{
        width: calc(25% - .5em);
    }

    .option .logo{
        width: 100%;
        height: 80%;
    }

    .option{
        padding: 10px !important;
    }

    .option h3{
        font-size: .7em;
        line-height: normal;
    }
}

@media screen and (max-width: 500px){
    .topo_empresas div{
        width: 35%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
}