#filter h2{
    width: 100%;
}

#filter input{
    width: 65%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#filter select{
    width: 32% !important;
    margin: 0;
    border: solid 1px #c5c5c5;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#ofertas .card{
    margin-bottom: 3em;
}

#ofertas .container.bg_gray{
    width: 100%;
    padding: 0;
}

#container_filter{
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;
}

aside{
    width: 15%;
}

.heading{
    display: flex;
    gap: 7px;
    font-size: 1.2em;
    margin-bottom: .5em;
    padding-top: .5em;
}

.heading img{
    width: 1em;
}

.wrap_radio{
    position: relative;
    display: inline-block;
    margin-right: .5em;
    margin-bottom: 15px;
}
  
.wrap_radio input{
    opacity: 0;
    width: 0;
    margin: 0;
}
  
.wrap_radio label{
    padding: 3px 15px;
    border: solid 1px #AD7449;
    border-radius: 4px;
    transition: .3s;
    display: inline-block;
    color: #444;
    font-size: .8em;
}
  
.wrap_radio input:checked ~ label {
    background: linear-gradient(90deg, #AD7449 -9.09%, #D18B57 109.44%);
    color: #fff;
}

.body{
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: solid 1px #828282;
}

@media screen and (max-width: 992px) {
    #filter{
        width: 100%;
    }

    #filter select{
        width: 30%;
    }
}

@media screen and (max-width: 992px){
    #filter select, #filter input{
        width: 100%;
    }

    #filter select{
        margin-top: 1em;
    }
}