header ul, footer ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 35px;
    transition: 0.25s ease-in-out;
}

ul li { list-style: none; }

header ul li a, footer ul li a{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #222;
    position: relative;
}

ul li a:not(.active):hover{ font-weight: 700; }

/* esse item é o "risquinho" que fica depois do link quando passa o mouse em cima */
header .menu li a::before, footer .menu li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2.5px;
    bottom: -5px;
    left: 0;
    /* background: linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%); */
    background: linear-gradient(90deg, #AD7449 -9.09%, #D18B57 109.44%);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

footer .menu li a::before{ background: #fff; }

ul li a:hover::before, ul li a.active::before{
    transform: scaleX(1);
}

.social_media img{
    transition: .3s;
}

.social_media img:hover{
    transform: translateY(-5px);
}

header a.active{
    background: -webkit-linear-gradient(90deg, #AD7449 -9.09%, #D18B57 109.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 992px) {
    header ul{ display: none; }

    header ul li{
        width: 100%;
        text-align: center;
    }

    header ul li:not(:last-of-type){
        border-bottom: solid 2px #bbb;
        padding-bottom: 15px;
    }

    header ul li a{
        font-size: 2em;
    }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px){
    header ul li a {
        font-size: 1.5em;
    }
}