#artigo .container{
    gap: 5em;
}

#cards{
    width: 70%;
}

#cards .lista_cards{
    background: #fff;
}

#cards .container{
    padding: 0;
}

#cards h1{
    display: none;
}

#cards article{
    width: 100%;
    margin-bottom: 2em;
}

#subtitulo{
    font-weight: bolder;
}

#content{
    margin-top: 2em;
}

#content ul li{
    list-style: disc;
    margin-top: .5em;
    color: #444
}

#ref li::marker{
    font-size: small;
}

#ref ol{
    padding-left: 1em;
}

#ref{
    margin-top: 4em;
}

.comentario{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile{
    background: linear-gradient(90deg, #AD7449 -9.09%, #D18B57 109.44%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.comentario p{
    font-weight: 700;
    color: #555;
    padding: 5px 20px;
    border: 1px solid #777777;
    border-radius: 25px;
    margin-top: .5rem;
}

.comentario h3{
    margin-bottom: 0;
    color: #333;
}

#novo_comentario{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

#novo_comentario textarea{
    width: 100%;
    resize: none;
}

#novo_comentario .btn{
    justify-self: flex-end;
    margin-left: auto;
    margin-top: 0;
}

#novo_comentario .btn::after{
    display: none;
}

#novo_comentario h3 {
    margin-bottom: 0;
    vertical-align: middle;
    margin-top: 0.3em;
    width: auto;
}

.curtir{
    color: #AD7449;
    background: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    margin-top: 20px;
}

.wrap_btns{
    display: flex;
    gap: 2em;
}

@media screen and (max-width: 769px){
    #artigo .container{
        flex-direction: column;
    }

    #cards {
        width: 100%;
    }
}