/* O ÍCONE DO MENU HAMBURGUER VAI FICAR ESCONDIDO EM TELAS MAIORES */
.btn-menu, .hamburguer{ display: none; }

#menu{
    position: absolute;
    opacity: 0;
}

.hamburguer label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

.hamburguer label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #fff;
    transition: 0.25s ease-in-out;
  }

.hamburguer label span:nth-child(1){ top: 0; }
  
.hamburguer label span:nth-child(2){ top: 8px; }
  
.hamburguer label span:nth-child(3){ top: 16px; }

#menu:checked + .hamburguer button label span:nth-child(1){
    transform: rotate(45deg);
    top: 8px;
}

#menu:checked + .hamburguer button label span:nth-child(2){ opacity: 0; }
  
#menu:checked + .hamburguer button label span:nth-child(3){
    transform: rotate(-45deg);
    top: 8px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 992px){
    header .btn{
        width: 50px !important;
        border-radius: 7px !important;
        padding: 7px;
        height: 50px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburguer{ display: block; }

    #menu:checked ~ ul{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        gap: 15px
    }
}