footer{
    background: -webkit-linear-gradient(0deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%);
    color: #fff;
    /* margin-top: 3rem; */
}

footer ul li a, footer h2{ color: #fff !important; }

footer .row{
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

.social_media{ gap: 15px; }

footer p{ 
    text-align: center; 
    color: #fff;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 768px) {
    .links_uteis{
        display: none !important;
    }

    footer .row{
        justify-content: center;
    }
}