footer{
    background: #005BAA;
    color: #fff;
    /* margin-top: 3rem; */
}

main{ padding-top: 250px; }

footer ul li a, footer h2{ color: #fff; }

footer .row{
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}

.social_media{ gap: 15px; }

footer p{ 
    text-align: center; 
    color: #fff;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 768px) {
    .links_uteis{
        display: none;
    }

    footer .row{
        justify-content: center;
    }
}