header, footer{ padding: 1.5em 3em; font: 110% system-ui; }

header{ 
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    background: #fff;
    z-index: 20;
    transition: 0.2s;
}

header h1{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 42px;
    margin: 0;
    line-height: 49px;
    background: -webkit-linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row{
    display: flex;
    justify-content: space-between;
}

.my_account, .saved{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    text-decoration: none;
    color: #222;
}

.my_account img{ width: 30px; }

.saved img{ width: 15px; }

header section{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito';
    justify-content: end;
    margin-bottom: 1.5em;
}

header section small{
    margin-top: 1em;
}

.my_account{
    font-weight: 700;
    font-size: 24px;
}

.search{
    border: solid 2px #ad744990;
    border-radius: 5px;
    display: flex;
    height: 35px;
    width: 300px;
    justify-content: space-between;
}

.search input, .search input:focus, header .btn{
    border-radius: 50px;
    outline: 0;
    border: none;
}

header .btn svg{
    transform: scale(1.5);
}


header .btn{
    background: -webkit-linear-gradient(90deg, #AD7449 -9.09%, #D18B57 109.44%);
    width: 20%;
    border-radius: 0 5px 5px 0;
    height: 38px;
    position: relative;
    top: -2px;
    right: -2px;
    transition: .3s;
    margin: 0;
    cursor: pointer;
}

.search input{
    width: 80%;
    font-family: 'Nunito', sans-serif;
    padding-left: 20px;
}

.btn:hover{ opacity: .8; }


/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 992px) {
    header section{ display: none; }
    header .search input{ display: none; }

    .search {
        width: fit-content;
        height: fit-content;
        border: none;
    }

    header .btn img, .hamburguer span{
        width: 35px;
        height: 35px;
    }
    
    header .row:not(.btns_menu){
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    .logo{
        font-size: 80px;
        line-height: 112.61px;
    }

    header, footer{ padding: 2rem; }

}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .logo {
        font-size: 65px;
    }

    header, footer{
        padding: 1rem;
    }
}