@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500i,600,700,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500i,600,700,800,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700i,700&display=swap');

body{ 
  margin: 0; 
  font-family: 'Nunito';
}

main{ padding-top: 250px; }

h1, h2, h3{
  font-family: 'Work Sans';
  color: #16283E;
}

p{ color: #444; }

label{ 
  display: block;
}

h1{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

a{ transition: .3s; text-decoration: none; }

a:hover{ opacity: .9; }