@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500i,600,700,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500i,600,700,800,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700i,700&display=swap');

body{ 
  margin: 0; 
  font-family: 'Nunito';
  overflow-x: hidden;
}

main{ padding-top: 200px; }

h1, h2, h3{
  font-family: 'Work Sans';
  color: #16283E;
}

p{ color: #444; }

label{ 
  display: block;
}

h1{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

a{ transition: .3s !important; text-decoration: none; }

a:hover{ 
  opacity: .95; 
}

button:disabled{
  opacity: .7 !important;
}

.text_blue {
  background: -webkit-linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container{ 
  justify-content: space-around; 
  padding: 5rem;
}

.column{ width: 50%; }

.width_80{ width: 80%; }

.column img{ 
  display: flex;
  margin: auto;
}

select{
  outline: 0;
  background: rgba(238, 238, 238, 0.22);
  border: 1px solid #555555;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: .5em;
  font-family: 'Nunito';
  width: 100%;
}

.line_before::before {
  content: '';
  height: 45px;
  width: 5px;
  background: linear-gradient(90deg, #AD7449 -9.09%, #D18B57 109.44%);
  display: inline-block;
  position: relative;
  bottom: -12px;
  margin-right: 0.3em;
  border-radius: 5px 0 0 5px;
}

input:not(.search input), textarea, select {
  outline: 0;
  padding: 7px 15px;
  border: solid 1px #c5c5c5;
  border-radius: 5px;
  font-family: 'nunito';
  font-size: 1rem;
  /* margin-top: .3em; */
  box-sizing: border-box;
}

#newsletter h1{ margin-bottom: 0; }

#newsletter{
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.line_after::after{
  width: 130px;
  content: '';
  background: linear-gradient(90deg, #AD7449 -9.09%, #D18B57 109.44%);
  display: block;
  height: 5px;
  margin-top: 10px;
}

.rsc {
  position: fixed;
  bottom: 70px;
  right: 3em;
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 992px) {

  main { padding-top: 220px; }

  .column img{ width: 80%; }
}