#banner_qs{
    background: linear-gradient(90deg, #005BAA -8.15%, rgba(4, 43, 77, 0.984375) -8.14%, #005BAA 110.27%);
}

#banner_qs h1{
    color: #fff;
    font-size: 5rem;
    line-height: 7rem;
    font-family: 'Amaranth';
    font-weight: 400;
}

#banner_qs h1 span{
    font-style: italic;
}

.deslize{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.deslize div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1em;
}

#banner_qs .row{
    flex-wrap: wrap;
}

.wrap_iframe{
    margin: auto;
    padding: 2rem 0;
    width: 80%;
}

#pitch{ background: #EEEEEE; }

.card_time{
    border-style: none;
    box-shadow: none;
    font-family: 'Nunito';
    text-align: center;
    color: #444444;
    width: 23%;
    padding: 2rem;
}

.perfil_time{
    width: 100%;
    aspect-ratio: 1 / 1; /* deixa a altura proporcional a largura*/
    border-radius: 400px !important;
    box-sizing: border-box;
    border: solid 5px #0e3d65;
    height: auto !important;
}

.perfil_time:hover{
    transform: none !important;
}

.card_time svg{
    font-size: 1.5em;
    color: #005BAA;
}

.email_icon{
    font-size: 2em !important;
}

.card_time .c_title{
    font-size: 1.5rem;
    font-family: 'Nunito';
    margin: 0;
    margin-top: 1rem;
    text-transform: none;
}

#sobre .card_content{
    padding: 0;
}

.wrap_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 1rem;
}

.wrap_icons img{
    width: 30px;
    min-height: 0;
    height: 30px !important;
}

.lista_cards:nth-of-type(2){
    justify-content: space-evenly;
}

#chamada_projeto h1, #chamada_projeto h2{
    font-family: 'Amaranth';
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
    line-height: 6rem;
}

#chamada_projeto h1{
    font-size: 4.5rem;
}

#chamada_projeto h2 div, #chamada_projeto h1 div{
    display: inline-block;
    position: relative;
}

#chamada_projeto span{
    font-weight: 700;
}

#chamada_projeto span::before{
    content: '';
    background: linear-gradient(90deg, rgba(0, 137, 255, 0.65) -8.15%, rgba(181, 220, 255, 0.35) 110.27%);
    display: inline;
    width: 100%;
    height: 1.5rem;
    position: absolute;
    bottom: 1.7rem;
    z-index: -1;
}

@media screen and (max-width: 769px){
    #section1 .column img{
        width: 50%;
        margin: auto;
    }

    #chamada_projeto h1, #chamada_projeto h2{
        font-size: 3rem;
        line-height: 5rem;
    }

    .wrap_iframe{
        width: 100%;
    }

    .wrap_iframe iframe{
        height: 250px;
    }

    .card_time{
        padding: 0;
        width: 45%;
    }

    #time .lista_cards{
        justify-content: center;
        gap: 2em;
    }
}