.btn{
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 25px;
    display: flex;
    width: fit-content;
    gap: 15px;
    align-items: center;
    margin-top: 40px;
    border: none;
    font-family: 'Nunito';
    font-weight: 800;
    transition: .3s;
    font-size: .9em;
}

.btn_primary{
    background: linear-gradient(90deg, #005BAA -8.15%, hsla(208, 100%, 33%, 0.984) -8.14%, #042B4D 110.27%);
    color: #fff;
}

.btn_primary::after, .arrow::after, .arrow_long::after{
    content: '';  
    width: 15px;
    height: 15px;
    display: inline-block;
    background-position: center;
}

.arrow::after{ 
    background: url('../../Assets/Icons/arrow_white.svg') center / contain no-repeat;
    transform: rotate(180deg);
}

.btn_secondary{
    background: -webkit-linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn_secondary.arrow::after, .btn_secondary.arrow_long::after{
    background: linear-gradient(90deg, #005BAA -8.15%, rgba(0, 91, 170, 0.984375) -8.14%, #042B4D 110.27%)red; 
    -webkit-mask-image: url('../../Assets/Icons/arrow_white.svg');
    mask-image: url('../../Assets/Icons/arrow_white.svg');
    mask-repeat: no-repeat;
    width: 10px;
    height: 14px;
    mask-size: contain;
    mask-position: center;
}

.btn_secondary.arrow_long::after{
    -webkit-mask-image: url('../../Assets/Icons/arrow_long.svg');
    mask-image: url('../../Assets/Icons/arrow_long.svg');
    width: 30px;
    height: 15px;
}

.btn_secondary{
    padding: 0;
}

.btn_tertiary{
    background: linear-gradient(90deg, #AD7449 -9.09%, #D18B57 109.44%);
    color: #fff;
}