#comparacao{
    display: flex;
    /* gap: 2em; */
    flex-wrap: wrap;
}

.empresa_info{
    width: calc(50% - 2.5em);
}

#comparacao .wrap_img{
    aspect-ratio: 1 / .5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: solid 1px #a3a3a360;
    /* border: none; */
}

#comparacao h3{
    text-transform: uppercase;
}

#comparacao small{
    display: block;
    margin-bottom: .2em;
}

.cnpj{
    margin-bottom: 1em !important;
    font-size: .7em;
}

.empresa_info:nth-child(1){
    border-right: solid 1px #999999;
    padding-right: 2em;
}

.empresa_info:nth-child(2){
    padding-left: 2em;
}

#comparacao .wrap_filter{
    margin-top: 2em;
    margin-right: 2em;
}

#comparacao th, #comparacao td {
    padding: 5px 15px;
}

#comparacao table, #comparacao canvas{
    margin-top: 1em;
}

#empresa #modal{
    width: 50%;
}

#comparacao canvas{
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    #comparacao .wrap_filter {
        margin-top: 1em;
        margin-right: 1em;
    }
}